<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>325630528123-9qau3f4t6cvu6s61qkgv48vve82i2241.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.325630528123-9qau3f4t6cvu6s61qkgv48vve82i2241</string>
	<key>API_KEY</key>
	<string>AIzaSyDHolVn6lNGDBzTMLlaudbxcLe3SggD8ic</string>
	<key>GCM_SENDER_ID</key>
	<string>325630528123</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.meszkris.BMoji</string>
	<key>PROJECT_ID</key>
	<string>bmoji-e9467</string>
	<key>STORAGE_BUCKET</key>
	<string>bmoji-e9467.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:325630528123:ios:f883aabbb2ac9a6da930de</string>
</dict>
</plist>